language: go
script:
  - cd $GOPATH/src/github.com/3fps/shawty
  - go get -d -v && go build -v && go test -i ./... && go test -test.v ./... 
notifications:
  email: false
branches:
  only:
    - master

