<!doctype html>
<html>

<head>
	<title>shawty</title>
	<link rel="stylesheet" href="static/shawty.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="static/index.js"></script>
</head>

<body>
	<nav>
		<div>
			<a href="#bookmarklet">bookmarklet</a> |
			<a href="#embed">use it on your site</a> | 
			<a href="http://github.com/3fps/shawty">source code</a>
		</div>
	</nav>

	<section id="shawtySec" class="cntr">
		<h1 id="brand">shawty</h1>
		<div>
			<form onSubmit="javascript: return shorten();">
				<input type="text" placeholder="Enter a long URL" id="url">
				<br>
				<button type="submit" id="shortenBtn" class="btn">Shorten</button>		
			</form>
			<div id="msg" color="red">&nbsp;</div>
		</div>
	</section>

	<section>
		<p><a name="bookmarklet"></a><h2 class="cntr">bookmarklet</h2></p>
		<p class="fixedwidth">
			To quickly create short URLs while you're browsing, just drag this button into your
			bookmark bar. Click on it and you'll get a short URL for the page you're viewing:
		</p>
		<p class="fixedwidth cntr">
			<a class="btn" href="javascript:(function() { s = document.createElement('script'); s.setAttribute('src', '//{{.Data.Domain}}/shawty.js?bm=1&amp;url=' + encodeURIComponent(window.location)); document.documentElement.appendChild(s);})()">shawty
			</a>
		</p>
	</section>


	<section>
		<p><a name="embed"></a><h2 class="cntr">use it on your website</h2></p>

		<p class="fixedwidth">
			To use &quot;<i>shawty</i>&quot; on your site, you simply have to
			reference a javascript file. It'll invoke the function <code>shawty(data)</code> with the shorten URL and other miscellaneous bits of data:
		</p>
		<div class="fixedwidth">
			<script src="//gist.github.com/3846431.js"> </script>
		</div>

		<p class="fixedwidth">
			When embedded into your site, <code>shawty.js</code> determines the long URL based on the <strong>&quot;Referer&quot;</strong> header attribute.
			Example:
		</p>
		<div class="fixedwidth">
			<script src="//gist.github.com/3846438.js"> </script>
		</div>
	</section>

	<footer>
		<p class="cntr">
			Version 1.1.7 - Released under <a href="http://sam.zoy.org/wtfpl/" target="_blank">WTFPL</a>
		</p>
	</footer>

	<a target="_blank" href="https://github.com/3fps/shawty">
		<img style="position: absolute; top: 0; left: 0; border: 0;" src="//github.s3.amazonaws.com/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub">
	</a>
</body>

</html>
